.space img {
  height: 50rem;
  width: 100%;
  border-radius: 0.5rem;
}

.references {
  margin-left: -4rem;
}
.action {
  background-image: url("../../images/international.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5rem;
}
.action h2 {
  color: #e0e0e0;
}
.action h3 {
  color: #e53935;
  text-align: center;
}
iframe {
  height: 50rem;
  width: 100%;
  border-radius: 0.5rem;
}
.action p {
  margin: 2rem;
  text-align: center;
}
