.space img {
  height: 20rem;
  width: 50wh;
}
.space {
  margin-left: 4rem;
}
.video {
  margin-left: 4rem;
}
.references {
  margin-left: -4rem;
}
.action {
  background-image: url("../../images/international.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5rem;
}
.action h2 {
  color: #e0e0e0;
}
.action h3 {
  color: #e53935;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .space {
    margin-left: 1rem;
  }
  .space img {
    width: 100%;
  }
  .video {
    margin-left: 1rem;
  }
  iframe {
    width: 100%;
  }
}
