.home {
  background-image: url("../../images/domestic-abuse.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  background-attachment: fixed;
}
.home-header {
  color: #ffffff;
  padding: 8rem;
}
.home-header h2 {
  font-size: 6rem;
  color: #e53935;
}
.home-header h5 {
  font-size: 6rem;
  color: #e53935;
}
.text-head-small {
  color: #a9a9a9;
  display: flex;
  flex-direction: row;
}
.text-head h4 {
  font-weight: 700;
  color: #e53935;
}
.text-head-small small {
  padding-left: 2rem;
}
.text-head {
  border-bottom: solid 0.2rem #e53935;
}
.home-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
