.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #3e3e3e;
  height: 10vh;
}
.icon {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 400ms;
  cursor: pointer;
}
.icon-a {
  margin: 1rem;
}
.icon:hover {
  outline-offset: 4px;
  animation: shake 0.4ms;
}
.icon-instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107% #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}
.icon-facebook:hover {
  background-color: #285aeb;
  outline-color: #285aeb;
}

.icon-facebook a:hover {
  color: #fff;
}
