.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #3e3e3e;
  height: 10vh;
}
.icon {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 400ms;
  cursor: pointer;
}
.icon-a {
  margin: 1rem;
}
.icon-a a {
  color: #fff;
}
.icon:hover {
  outline-offset: 4px;
  animation: shake 0.4ms;
}
.icon-instagram:hover {
  background-color: #d6249f;

  outline-color: #a02d76;
}
.icon-facebook:hover {
  background-color: #285aeb;
  outline-color: #285aeb;
}
.icon-twitter:hover {
  background-color: #42a5f5;
  outline-color: #42a5f5;
}
.icon-linkedin:hover {
  background-color: #0d47a1;
  outline-color: #0d47a1;
}
